/devops/roles/apache
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
*.DS_Store
/app/phpunit.xml
/composer.phar
/vendor/
/web/bundles/
/.idea/
/devops/roles/bash-aliases
/devops/roles/node
/app/SymfonyRequirements.php
composer.lock
/web/components/
/app/config/db.sqlite
!Tests/TestData/root_path/.placeholder
Tests/TestData/root_path
/nbproject
.vagrant
.ssh
/app/dupe.db
/var/logs/
/var/cache/
/var/sessions/
/devops/ansible/roles/*/
*.retry
web/assets/vendor