<html>
    <body>
        <p>A new user {{ deejay.name }} has been registered</p>
        {% if not deejay.enabled %}
        <p>
            <a href="{{ url('user_activate', { activationToken: deejay.activationToken }) }}">Activate account</a>
        </p>
        {% endif %}
    </body>
</html>
